.favorite-button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  transition: transform 0.2s ease;
}

.favorite-button .heart {
  color: rgb(130, 130, 130);
  transition: color 0.3s ease, transform 0.3s ease;
  opacity: 0.6;
}

.favorite-button.favorite .heart {
  color: #d1914b;
  transform: scale(1.2);
  opacity: 0.8;
}

.favorite-button .heart:hover {
  filter: brightness(1.3);
  opacity: 0.9;
}

.favorite-button:active .heart {
  transform: scale(0.9);
}

.favorite-button .tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: rgb(158, 158, 158);
  color: white;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;
  font-size: 12px;
  pointer-events: none;
}

.favorite-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
