.media-container {
  font-family: Arial, sans-serif;
  background: #171717d2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  text-align: center;
}

.media-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

@media (min-width: 800px) {
  .media-container {
    text-align: left;
  }
}

.loading {
  text-align: center;
  padding: 2rem;
  color: #aaaaaa;
  font-size: 1rem;
}
