.movie {
  flex: 1 1 150px;
  max-width: 200px;
  min-width: 150px;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.poster {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie h3 {
  font-size: 1rem;
  padding: 0.5rem;
  padding-top: 1rem;
  text-align: center;
}
