.navbar {
  background-color: #171717;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navbar-brand {
  display: flex;
  gap: 0.5rem;
  align-self: flex-start;
}

.navbar-logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: #ffffff;
  text-decoration: none;
}

.navbar-usericon {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  align-self: flex-end;
}

.navbar-usericon:hover,
.nav-link:hover,
.navbar-logo:hover {
  background-color: rgb(218, 148, 83);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}
