.navbar {
  background-color: #171717;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: #d1954b;
  text-decoration: none;
  font-weight: 900;
}

.navbar-usericon {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navbar-usericon:hover,
.nav-link:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
}

.navbar-logo:hover {
  filter: brightness(1.2);
}

/* Mobiili */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap; /* sallii rivinvaihdon */
    justify-content: center; /* keskitetään logo ja linkit */
    text-align: center;
    gap: 1rem;
  }

  .navbar-brand {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem; /* tilaa logon ja linkkien väliin */
  }

  .navbar-links {
    width: 100%;
    justify-content: center; /* keskitetään linkit ja user-nappi */
    gap: 1rem;
    flex-wrap: nowrap; /* pysyvät samalla rivillä */
  }

  .navbar-usericon {
    margin-left: 0;
  }
}
