.review-post {
  font-family: Arial, Helvetica, sans-serif;
  background: #171717;
  color: #d5d4d4;
  border-radius: 10px;
  margin: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
} 