.search-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.search-bar input {
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  border: none;
  width: 500px;
}
