.profile-page{
    min-height: 100vh;
    padding: var(--large-padding);
    padding-top: calc(2em + 60px + var(--large-padding));
    max-width: 1400px;
    margin: 0 auto;
}

.profile-content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
    align-items: start;
    padding: var(--medium-padding);
}

.profile-content-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--medium-padding);
}