.home {
  display: flex;
  flex-direction: column;
}

.home-content {
  flex: 1;
  padding: var(--large-padding);
  width: 100%;
  margin: 0 auto;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.now-playing-container {
  display: flex;
  flex-direction: column;
}
