.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--navbar-height));
}

.home-content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.now-playing-container {
  margin-top: auto;
  padding-top: 2rem;
}
