.media-details {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--navbar-height));
}

.media-details-content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.details-layout {
  font-family: Arial, Helvetica, sans-serif;
  background: #232323;
  color: #d5d4d4;
  border-radius: 10px;
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.darker-text {
  color: #929292;
}

.poster {
  flex: 1;
  background-color: rgb(44, 44, 43);
  border-radius: 8px;
}

.details {
  flex: 2;
  /* background-color: rgb(26, 26, 25); */
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.details h1,
h2 {
  font-weight: normal;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: 0.5rem;
}

.meta-row {
  flex: 1;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.description-row {
  flex: 1;
  max-width: 60ch;
  margin-bottom: 2rem;
}

.description-row h2 {
  margin-bottom: 0.5rem;
}

.info-table-row {
  flex: 1;
  display: grid;
  grid-template-columns: 100px auto;
  row-gap: 0.6rem;
  margin-bottom: 2rem;
}

.rating-row {
  flex: 1;
}
