.media-details {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--navbar-height));
}

.media-details-content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.details-layout {
  font-family: Arial, Helvetica, sans-serif;
  background: #171717;
  color: #d5d4d4;
  border-radius: 10px;
  margin: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.darker-text {
  color: #929292;
}

.poster {
  background-color: #3f3f3f;
  flex: 1 1 300px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.details {
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
}

.details h1,
h2 {
  font-weight: normal;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.meta-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.description-row {
  max-width: 60ch;
  margin-bottom: 3rem;
}

.description-row h2 {
  margin-bottom: 0.5rem;
}

.info-table-row {
  display: grid;
  grid-template-columns: 100px auto;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.cast-crew-genres {
  display: flex;
  gap: 1rem;
  row-gap: 0.2rem;
  flex-wrap: wrap;
}

.rating-row {
  flex: 1;
}
